.example-spacer {
  flex: 1 1 auto;
}

.add-button {
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
}

.add-button:hover{
  background-color: #45a049 !important;
}

.main-body{
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1248px;
  mat-form-field{
    width: 100%;
  }
}