<div mat-dialog-title>
  <h1>Employee Form</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
<div mat-dialog-content class="content">
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>First name</mat-label>
      <input matInput type="text" placeholder="Nguyen Van" formControlName="firstName" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>
      <input matInput type="text" placeholder="Anh" formControlName="lastName" />
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Nguyenvan@gmail.com" formControlName="email" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Date of birth</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dob" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-radio-group aria-label="Select an option" formControlName="gender">
      <mat-label><b>Gender</b></mat-label>
      <mat-radio-button value="Male">Male</mat-radio-button>
      <mat-radio-button value="Female">Female</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Education</mat-label>
      <mat-select formControlName="education">
        <mat-option *ngFor="let val of education" [value]="val">
          {{ val }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Department</mat-label>
      <input matInput type="text" placeholder="HR" formControlName="department" />
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Experience (year)</mat-label>
      <input matInput type="number" placeholder="1" min="0" step="1" formControlName="experience"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Phone</mat-label>
      <input matInput type="text" placeholder="+84..." formControlName="phone">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-raised-button class="custom-save-button" type="submit">Save</button>
  <button mat-raised-button class="custom-cancel-button">Cancel</button>
</div>
</form>